<template>
    <div>Hosts component</div>
</template>

<script>
    export default {
        name: 'Hosts',

        mounted() {
            console.log('Hosts')
        }
    }
</script>

<style scoped>

</style>
