<template>
    <v-navigation-drawer
            v-model="drawer"
            fixed
            clipped
            class="grey lighten-4"
            app
    >
        <v-list
                dense
                class="grey lighten-4"
        >
            <template v-for="(item, i) in navItems">
                <v-layout
                        v-if="item.heading"
                        :key="i"
                        row
                        align-center
                >
                    <v-flex xs6>
                        <v-subheader v-if="item.heading">
                            {{ item.heading }}
                        </v-subheader>
                    </v-flex>
                    <!--<v-flex xs6 class="text-xs-right">-->
                    <!--<v-btn small flat>edit</v-btn>-->
                    <!--</v-flex>-->
                </v-layout>
                <v-divider
                        v-else-if="item.divider"
                        :key="i"
                        dark
                        class="my-3"
                ></v-divider>
                <v-list-tile
                        v-else
                        :key="i"
                        @click=""
                >
                    <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title class="grey--text">
                            {{ item.text }}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </template>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        name: 'NavigationDrawer',

        props: [ 'drawer' ],

        computed:  {
            navItems() {
                const hostItems = this.hosts.map(host => {
                    return { text: host.name, icon: 'computer' }
                })

                return [
                    { heading:  'Hosts' },
                    ...hostItems,
                    { icon:   'add', text:  'Add' },
                ]
            },

            ...mapState({
                hosts:  state => state.hosts.hosts,
            }),
        },
    }
</script>

<style scoped>

</style>
