<template>
    <v-app>
        <navigation-drawer v-bind:drawer="drawer"></navigation-drawer>

        <v-toolbar app color="#2060a0">
            <v-toolbar-side-icon @click.native="drawer = !drawer"></v-toolbar-side-icon>

            <span class="title ml-3 mr-5">Exus</span>
        </v-toolbar>

        <v-content>
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-content>
        <v-footer app></v-footer>
    </v-app>
</template>

<script>
    import { FETCH_HOSTS } from './store/actions'
    import NavigationDrawer from './components/NavigationDrawer.vue'

    export default {
        name: 'App',

        components: { NavigationDrawer },

        mounted() {
            // Get data for static parts of the page (e.g. header, menu)
            this.$store.dispatch(FETCH_HOSTS)
        },

        data() {
            return {
                drawer:  null,
            }
        },
    }
</script>

<style scoped>

</style>
